# Common paths
PDF_FOLDER=/abs/path/to/protein-thermostability/papers
TM_CSV=/abs/path/to/protein-thermostability/manual_tms.csv

# DeepSeek 
DEEPSEEK_API_KEY=""
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-reasoner
DEEPSEEK_OUTPUT=/abs/path/to/papers-deepseek.xlsx

# GPT 
OPENAI_API_KEY=""
GPT_OUTPUT=/abs/path/to/papers-gpt.xlsx
GPT_MODEL=gpt-4.1

# Consistency / Regex checks
INPUT_CSV=/abs/path/to/results.csv
OUTPUT_CSV=/abs/path/to/flagged-results.csv   # (for judge)
JUDGE_MODEL=o4-mini
CALL_DELAY_SEC=0
